/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(51, 51, 51);
}

section {
    font-size: 1.5rem;
}

.section-title {
    font-size: 4rem;
    margin: 1.5rem;
    text-transform: uppercase;
    text-shadow: 4px 5px 0 #222222;
}

.section-title-black {
    font-size: 4rem;
    margin: 1.5rem;
    text-transform: uppercase;
    color: black;
}

@media screen and (max-width: 600px){
    .section-title {
        font-size: 2rem;
    }
    
    .section-title-black {
        font-size: 2rem;
    }
}

.description-project {
    display: none;
}